<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="zametkiEntities" connectionString="metadata=res://*/Entities.ModelZametki.csdl|res://*/Entities.ModelZametki.ssdl|res://*/Entities.ModelZametki.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4U1TAN8\MAGATSUIZANAGI;initial catalog=zametki;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>