USE [master]
GO
/****** Object:  Database [zametki]    Script Date: 26.10.2024 10:16:02 ******/
CREATE DATABASE [zametki]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'zametki', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAGATSUIZANAGI\MSSQL\DATA\zametki.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'zametki_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAGATSUIZANAGI\MSSQL\DATA\zametki_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [zametki].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [zametki]
GO
/****** Object:  Table [dbo].[kategorii]    Script Date: 26.10.2024 10:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategorii](
	[id_kategorii] [int] NOT NULL,
	[name_kategorii] [nvarchar](50) NULL,
 CONSTRAINT [PK_kategorii] PRIMARY KEY CLUSTERED 
(
	[id_kategorii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zametki]    Script Date: 26.10.2024 10:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zametki](
	[id_zametki] [int] IDENTITY(1,1) NOT NULL,
	[opisanie] [nvarchar](max) NULL,
	[kategoria] [int] NULL,
	[teg] [nvarchar](50) NULL,
 CONSTRAINT [PK_zametki] PRIMARY KEY CLUSTERED 
(
	[id_zametki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[zametki]  WITH CHECK ADD  CONSTRAINT [FK_zametki_kategorii] FOREIGN KEY([kategoria])
REFERENCES [dbo].[kategorii] ([id_kategorii])
GO
ALTER TABLE [dbo].[zametki] CHECK CONSTRAINT [FK_zametki_kategorii]
GO
USE [master]
GO
